* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 17px;
    padding: 0px;
    background-color: #434343;
}

.menu {
    font-family: 'Dancing Script';
    color: white;
    font-size: 35px;
    background-color: #ea9999;
    margin-top: 10px;
}

#mes {
    font-family: 'Dancing Script';
    background-color: white;
    font-size: 25px;
    border-radius: 20px;
    color: #ea9999;
    text-align-last: center;
}

nav {
    text-align: center;
}

.botaos {
    float: right;
    margin-right: 8px;
}

#authorize-button, #signout-button {
    background-color: whitesmoke;
    color: crimson;
    border-radius: 5px;
    border: outset;
    font-size: 16px;
}

#authorize-button:hover, #signout-button:hover {
    background-color: tomato;
    color: white;
    border-color: tomato;
}

.guardado {
    margin-top: 10px;
    margin-left: 10px;
}

th {
    color: white;
    background-color: #e06666;
    width: 400px;
}

tr {
    color: white;
    background-color: #b3e5ec;
}

.vtotal {
    background-color: #71e4f4;
}

tr:hover {
    background-color: #f4cccc;
}

.tresultados {
    background-color: #6aa84f
}

.resultados {
    background-color: #b6d7a8;
}

.vtotal2 {
    background-color: #97d27e;
}

.resultados:hover {
    background-color: #f4cccc;
}